





/*tipo googlr fonts*/


.titulo1 {
  font-family: "Glegoo", serif;
  font-weight: 700;
  font-style: normal;
  
 
}

.titulo2 {
  font-family: "Glegoo", serif;
  font-weight: 400;
  font-style: normal;
}

.titulo3 {
  font-family: "Glegoo", serif;
  font-weight: 400;
  font-style: normal;
}




